
:root {
    --primary-color: rgb(55, 55, 55);
}


h1 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

header {
    text-align: center;
}

#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    background: #fff;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.now-playing {
    margin-top: 1rem;
    padding: 1rem;
    background: #e9e9e9;
    border-radius: 5px;
}
.play-button {
    display: inline-block;
    background: #007BFF;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.play-button:hover {
    background: #0056b3;
}
.player {
    margin-top: 1rem;
    text-align: center;
}